<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.co_learningnew"
    android:versionCode="1"
    android:versionName="3.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="Main" android:label="@string/app_name">
           	<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="WordLearningMain" ></activity>
        <activity android:name="Elementary"></activity>
        <activity android:name="High"></activity>
        <activity android:name="Middle"></activity>
        <activity android:name="Weakness"></activity>
        <activity android:name="WordCard"></activity>
        <activity android:name="WordManage"></activity>
        <activity android:name="WordManageMain"></activity>
        <activity android:name="WordtestChoice"></activity>
        <activity android:name="WordtestMain"></activity>
        <activity android:name="WordtestInput"></activity>
        <activity android:name="Game"></activity>
        <activity android:name="WordtestChoiceself"></activity>
        <activity android:name="WordtestInputself"></activity>
        <activity android:name="TeamRecord"></activity>
        <activity android:name="GroupScore"></activity>
        <activity android:name="TeamDiscuss"></activity>
        <activity android:name="TeamTest"></activity>
    </application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>  
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
